.main-Container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: space-between; /* Distribuye los elementos en el espacio disponible */
}

.sub-Container {
    flex-basis: calc(33.33% - 10px); /* Ancho base para 3 videos por fila */
    max-width: calc(33.33% - 10px); /* Ancho máximo para cada video */
    background-color: #f0f0f0; /* Color de fondo opcional para visualizar mejor */
    padding: 10px; /* Espacio interno opcional */
    box-sizing: border-box; /* Incluir padding en el cálculo del tamaño */
}

.sub-Container video {
    width: 100%;
    height: 100%;
    display: block;
}
